.contentLogin {
	display: flex;
}

.contentLogin form {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin: 5px;
	padding: 50px;
	background-color: lightgreen;
}

.contentLogin form span {
	font-weight: bold;
	color: #222;
}

.contentLogin form input {
	border: none;
	border-radius: 4px;
	margin: 5px;
	padding: 10px;
}

.contentLogin form button {
	background-color: #ddd;
	border: 1px solid darkgreen;
	font-weight: bold;
	color: #222;
	border-radius: 4px;
	margin: 5px;
	padding: 10px;
	width: 150px;
	cursor: pointer;
	transition: all 0.2s;
}

.contentLogin form button:hover {
	background-color: #aaa;
}

.contentLogin form button:disabled {
	background-color: #f5f5f5;
	opacity: 0.5;
	cursor: default;
}
