.contentForm {
	display: flex;
}

.contentForm form {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin: 5px;
	padding: 50px;
	background-color: lightblue;
}

.contentForm form span {
	font-weight: bold;
	color: #222;
}

.contentForm form input {
	border: none;
	border-radius: 4px;
	margin: 5px;
	padding: 10px;
}

.contentForm form button {
	background-color: #ddd;
	border: 1px solid darkblue;
	font-weight: bold;
	color: #222;
	border-radius: 4px;
	margin: 5px;
	padding: 10px;
	width: 150px;
	cursor: pointer;
	transition: all 0.2s;
}

.contentForm form button:hover {
	background-color: #aaa;
}

.contentForm form button:disabled {
	background-color: #f5f5f5;
	opacity: 0.5;
	cursor: default;
}

.contentForm form .btnVoltar {
	border: none;
	background-color: orange;
}
.contentForm form .btnVoltar:hover {
	background-color: darkorange;
}
