.contentPage {
	display: flex;
}

.contentPage ul {
	list-style: none;
}

.contentPage ul li {
	font-weight: bold;
}

.contentPage span {
	color: #a5a5a5;
}

.contentPage button {
	border: none;
	font-weight: bold;
	color: #fff;
	border-radius: 4px;
	margin: 3px;
	padding: 10px;
	width: 100px;
	cursor: pointer;
	transition: all 0.2s;
}

.contentPage .btnIncluir {
	background-color: #33cc33;
}

.contentPage .btnIncluir:hover {
	background-color: #66aa66;
}

.contentPage .btnEditar {
	background-color: #3366ff;
}

.contentPage .btnEditar:hover {
	background-color: #3366aa;
}

.contentPage .btnExcluir {
	background-color: #ff3366;
}

.contentPage .btnExcluir:hover {
	background-color: #aa3366;
}
