.contentHeader {
	display: flex;
}

.contentHeader button {
	background-color: #900000;
	border: none;
	font-weight: bold;
	color: white;
	margin: 5px;
	padding: 10px;
	width: 150px;
	cursor: pointer;
	transition: all 0.2s;
	border-radius: 4px;
}

.contentHeader button:hover {
	background-color: #500000;
}
